
.home{
    background-color: antiquewhite;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}
.para{
    background-color: white;
    width: 80%;
    margin-top: 2%;
    margin-left: 9%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
p{
    text-align: center;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
.pic{
    float: left;
    margin-left: 1.2em;
}
h4{
    margin-left: 1.2em;
}