
<br>

<form id="updateForm" (submit)="addReview(kdrama)">
<table>

    <tr>
        <td><b style="font-size: large;">Book</b></td>
        
        
        
    </tr>
    <tr>
        <td rowspan="9"><img src="{{kdrama.image}}" height="170px" width="124px"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2"><b style="font-size: large;">Title : {{title}}</b></td>
    </tr>
    <tr>
        <td colspan="2"><b style="font-size: large;">Genre : {{genre}}</b></td>
    </tr>
    <tr>
        <td colspan="2"><b style="font-size: large;">Author : {{description}}</b></td>
    </tr>

</table>
</form>