<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top"> 
    <a class="navbar-brand" href="#">Admin Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/admindashboard/add">Add book</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admindashboard/addauthor">Add author</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admindashboard/kdramas">Books</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admindashboard/authors">Authors</a>
        </li> -->

        <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="logout()">LogOut</a>
          </li>
  
      </ul>
    </div>
  </nav>
  
